@import url("https://fonts.googleapis.com/css?family=Bitter|Mansalva|Nunito+Sans&display=swap");
/* @import url('https://fonts.googleapis.com/css?family=Alata|Calistoga&display=swap'); */

:root {
	--beige: #f5d5bee7;
	--moss-green: rgb(70, 75, 39);
	--grey: rgba(117, 112, 116);
}

* {
	text-decoration: none;
	color: var(--moss-green);
	align-items: center;
	font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

input {
	font-size: 1.2rem;
	height: 1.5em;
	width: 30em;
}

button {
	margin: 0.5em;
	font-size: 1.2rem;
	height: 1.6em;
	width: 10em;
}

h2,
h3 {
	font-family: "Bitter", Cambria, Cochin, Georgia, Times, "Times New Roman",
		serif;
}
/*loader*/
.loader {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.loader img {
	width: 100%;
}
/**/

.navBar {
	background-color: var(--beige);
	height: 4.5em;
	display: flex;
	justify-content: space-between;
	justify-items: center;
}

.navBar a {
	font-size: 2rem;
	font-weight: bold;
	margin: 2rem;
	font-family: "Mansalva", cursive;
}

.background {
	position: absolute;
	background-image: linear-gradient(
			to bottom,
			rgba(251, 251, 251, 0.03),
			rgba(117, 112, 116, 0.73)
		),
		url(./assets/pancakes-bg3.jpg);
	width: 100%;
	height: 50rem;
	display: flex;
}

.home {
	width: 70%;
	margin: 0 auto;
	background-color: rgba(248, 248, 248, 0.4);
}

.home > h3 {
	color: var(--moss-green);
	font-size: 3em;
	margin: 0;
	padding: 2em 2.5em;
	font-family: "Mansalva", cursive;
	text-align: center;
}

.navBoxContainer {
	margin: 5%;
	display: flex;
	justify-content: space-around;
}

.navBox {
	font-size: 1.2rem;
	text-transform: inherit;
	text-align: center;
	width: 14em;
	height: 15em;
	border: 5px solid#84A9AF;
	border-radius: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navBox h2 {
	text-transform: uppercase;
	font-size: 2em;
	font-family: "Mansalva", cursive;
}

/* search stuff */
/* .background {
	background-image: linear-gradient(
			to bottom,
			rgba(251, 251, 251, 0.03),
			rgba(117, 112, 116, 0.73)
		),
		url(./assets/pancakes-bg3.jpg);
	width: 100%;
	height: 50rem;
} */

.recipeSearch {
	height: 20em;
	display: flex;
	flex-direction: column;
}

.recipeSearch > h2 {
	font-style: normal;
	font-size: 3rem;
	color: var(--moss-green);
	font-family: "Mansalva", cursive;
	padding: 1em;
}

.searchForm {
	display: flex;
	flex-direction: column;
	width: 50em;
}

.recipe {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}

.recipeShowcase {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.recipebox {
	font-size: 1.2rem;
	width: 20em;
	height: 20em;
	margin: 1em 1em;
	border: solid#84A9AF 1px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recipebox img {
	width: 10em;
	height: 10em;
}

.recipeURL {
	color: salmon;
	margin: 2em auto;
	font-weight: bold;
	text-align: end;
}

/* cookbook */
.cookbook {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-items: center;
	margin: 1em auto;
}

.userAddComponent {
	display: flex;
	flex-direction: column;
}

.showcaseBox {
	display: flex;
	flex-direction: column;
}

.recipePost {
	font-size: 1rem;
	border: 2px #84a9af solid;
	border-radius: 1em;
	width: 50em;
	padding: 5em;
	margin: 1em auto;
}

.recipePost > img {
	width: 3.5em;
	float: right;
	cursor: pointer;
}

.category {
	display: flex;
}

.category > p {
	margin: 0 1em 0 0;
	background-color: var(--beige);
	padding: 0.5em;
	border-radius: 35%;
	font-weight: bold;
}

.categoriesCheckboxes > p {
	text-align: center;
	margin: 0.5rem, auto, 0, auto;
}

.individualCheckboxes {
	padding: 0.8em;
	display: inline-flex;
	flex-direction: column;
	align-content: center;
}

.individualCheckboxes > input {
	width: auto;
}

/* login */
.loginForm {
	display: flex;
	flex-direction: column;
	width: auto;
	padding: 10em;
}

.userLink {
	font-family: "Bitter", Cambria, Cochin, Georgia, Times, "Times New Roman";
	font-weight: bolder;
	color: #84a9af;
}

/* signup */
.signupForm {
	display: flex;
	flex-direction: column;
	width: auto;
	padding: 8em;
}

.signupForm > h3 {
	width: 20em;
	text-align: center;
}

.userInput {
	margin: 0.2em;
	/* width: 27em; */
}

.logoutMessage {
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	width: auto;
	padding: 3em;
}
